@-webkit-keyframes flip {
	0% {
		-webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
		transform: perspective(120px) rotateX(0deg) rotateY(0deg);
	}

	25% {
		-webkit-transform: perspective(120px) rotateX(-180deg) rotateY(0deg);
		transform: perspective(120px) rotateX(-180deg) rotateY(0deg);
	}

	50% {
		transform: perspective(120px) rotateX(-180deg) rotateY(-180deg);
		-webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-180deg);
	}

	75% {
		-webkit-transform: perspective(120px) rotateX(0deg) rotateY(-180deg);
		transform: perspective(120px) rotateX(0deg) rotateY(-180deg);
	}

	100% {
		-webkit-transform: perspective(120px) rotateX(0deg) rotateY(-360deg);
		transform: perspective(120px) rotateX(0deg) rotateY(-360deg);
	}
}

@keyframes flip {
	0% {
		-webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
		transform: perspective(120px) rotateX(0deg) rotateY(0deg);
	}

	25% {
		-webkit-transform: perspective(120px) rotateX(-180deg) rotateY(0deg);
		transform: perspective(120px) rotateX(-180deg) rotateY(0deg);
	}

	50% {
		transform: perspective(120px) rotateX(-180deg) rotateY(-180deg);
		-webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-180deg);
	}

	75% {
		-webkit-transform: perspective(120px) rotateX(0deg) rotateY(-180deg);
		transform: perspective(120px) rotateX(0deg) rotateY(-180deg);
	}

	100% {
		-webkit-transform: perspective(120px) rotateX(0deg) rotateY(-360deg);
		transform: perspective(120px) rotateX(0deg) rotateY(-360deg);
	}
}

.pc-detail {
	padding-top: 60px;

	.detail-content {
		width: 70%;
		margin: 0 auto;

		.detail-image {
			margin-bottom: 50px;

			.image {
				width: 100%;
			}

			.image-content {
				width: 100%;
				padding: 20px 0;
				display: flex;

				.color {
					display: flex;
					flex-direction: column;
					border-radius: 4px;
					overflow: hidden;
					margin: 0 16px 0 0;

					.color-item {
						flex: 1;
						width: 100px;
					}
				}

				.container {
					.title {
						font-size: 32px;
						font-weight: bold;
						display: inline-block;
						padding-right: 8px;
						padding-bottom: 16px;
						border-bottom: 3px solid #000000CC;
						margin-bottom: 16px;
					}

					.date {
						font-size: 16px;
					}
				}
			}
		}

		.other-image {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			grid-row-gap: 20px;
			grid-column-gap: 20px;

			.gaussian-image,
			.greyscale-image,
			.hd-image,
			.uhd-image {
				margin-bottom: 16px;

				.title {
					display: inline-block;
					font-size: 16px;
					padding-right: 8px;
					border-bottom: 3px solid #000000CC;
					margin-bottom: 8px;
				}

				.image {
					width: 100%;
					cursor: pointer;
				}
			}

			.uhd-image {
				.image-inner {
					width: 100%;
					height: 100%;
					display: flex;
					justify-content: center;
					align-items: center;

					.square-spinner {
						width: 55px;
						display: block;
						border-radius: 2px;
						backdrop-filter: saturate(180%) blur(20px);
						-webkit-backdrop-filter: saturate(180%) blur(20px);
						background-color: rgba(255, 255, 255, 0.72);
						height: 55px;
						-webkit-animation: 3s rotate2 ease-in-out infinite;
						animation: 3s flip ease-in-out infinite;
					}
				}

				.overlayer {
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					padding: 0 16px;
					color: #ffffff;
					font-size: 16px;
					display: flex;
					justify-content: center;
					align-items: center;
				}
			}
		}

		.remark {
			font-size: 12px;
			color: #999999;
		}
	}
}

html.dark {
	.pc-detail {
		.detail-content {
			.detail-image {
				.image-content {
					.container {
						.title {
							border-bottom: 3px solid #FFFFFFCC;
						}
					}
				}
			}

			.gaussian-image,
			.greyscale-image,
			.hd-image,
			.uhd-image {
				.title {
					border-bottom: 3px solid #FFFFFFCC;
				}
			}
		}
	}
}