@-webkit-keyframes flip {
	0% {
		-webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
		transform: perspective(120px) rotateX(0deg) rotateY(0deg);
	}

	25% {
		-webkit-transform: perspective(120px) rotateX(-180deg) rotateY(0deg);
		transform: perspective(120px) rotateX(-180deg) rotateY(0deg);
	}

	50% {
		transform: perspective(120px) rotateX(-180deg) rotateY(-180deg);
		-webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-180deg);
	}

	75% {
		-webkit-transform: perspective(120px) rotateX(0deg) rotateY(-180deg);
		transform: perspective(120px) rotateX(0deg) rotateY(-180deg);
	}

	100% {
		-webkit-transform: perspective(120px) rotateX(0deg) rotateY(-360deg);
		transform: perspective(120px) rotateX(0deg) rotateY(-360deg);
	}
}

@keyframes flip {
	0% {
		-webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
		transform: perspective(120px) rotateX(0deg) rotateY(0deg);
	}

	25% {
		-webkit-transform: perspective(120px) rotateX(-180deg) rotateY(0deg);
		transform: perspective(120px) rotateX(-180deg) rotateY(0deg);
	}

	50% {
		transform: perspective(120px) rotateX(-180deg) rotateY(-180deg);
		-webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-180deg);
	}

	75% {
		-webkit-transform: perspective(120px) rotateX(0deg) rotateY(-180deg);
		transform: perspective(120px) rotateX(0deg) rotateY(-180deg);
	}

	100% {
		-webkit-transform: perspective(120px) rotateX(0deg) rotateY(-360deg);
		transform: perspective(120px) rotateX(0deg) rotateY(-360deg);
	}
}

.h5-detail {
	padding-top: 50px;

	.detail-image {
		.image {
			width: 100%;
		}

		.image-content {
			width: 100%;
			padding: 20px 0;
			display: flex;

			.color {
				display: flex;
				flex-direction: column;
				border-radius: 4px;
				overflow: hidden;
				margin: 0 16px 0 16px;

				.color-item {
					flex: 1;
					width: 32px;
				}
			}

			.container {
				margin-right: 16px;

				.date {
					font-size: 32px;
					font-weight: bold;
					display: inline-block;
					padding-right: 8px;
					border-bottom: 3px solid #603dc1cc;
					margin-bottom: 16px;
				}

				.title {
					font-size: 16px;
				}
			}
		}
	}

	.gaussian-image,
	.greyscale-image,
	.hd-image,
	.uhd-image {
		padding: 0 16px;
		margin-bottom: 16px;

		.title {
			display: inline-block;
			font-size: 16px;
			padding-right: 8px;
			border-bottom: 3px solid #603dc1cc;
			margin-bottom: 8px;
		}

		.image {
			width: 100%;
		}
	}

	.uhd-image {
		.image-wrap {
			position: relative;

			.placeholder-image {
				width: 100%;
			}

			.v-progressive-image {
				position: absolute;
				top: 0;
				left: 0;

				.image-inner {
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					display: flex;
					justify-content: center;
					align-items: center;

					.square-spinner {
						width: 55px;
						display: block;
						border-radius: 2px;
						backdrop-filter: saturate(180%) blur(20px);
						-webkit-backdrop-filter: saturate(180%) blur(20px);
						background-color: rgba(255, 255, 255, 0.72);
						height: 55px;
						-webkit-animation: 3s rotate2 ease-in-out infinite;
						animation: 3s flip ease-in-out infinite;
					}
				}
			}

			.overlayer {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				padding: 0 16px;
				color: #ffffff;
				font-size: 16px;
				display: flex;
				justify-content: center;
				align-items: center;
			}
		}
	}

	.remark {
		margin: 0 16px;
		font-size: 12px;
		color: #999999;
	}
}

html.dark {
	.h5-detail {
		.detail-image {
			.image-content {
				.container {
					.date {
						border-bottom: 3px solid #858AE3cc;
					}
				}
			}
		}

		.gaussian-image,
		.greyscale-image {
			.title {
				border-bottom: 3px solid #858AE3cc;
			}
		}
	}
}